.map {
  position: relative;
}

.map__link {
  display: inline-block;
  color: $color1;
  background-color: $color3;
  position: absolute;
  font-size: map-get($fonts, "$small2");
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1.375rem 2rem 1.375rem 5.5rem;
  top: 0;
  left: 0;
  &::after {
    display: inline-block;
    content: "";
    background-image: url(/assets/icon-arrow-left.svg);
    background-repeat: no-repeat;
    background-color: $color4;
    background-position: center;
    position: absolute;
    width: 3.5rem;
    height: 100%;
    top: 0;
    left: 0;
  }
  @include device(tablet) {
    left: 2.4375rem;
  }
  @include device(desktop) {
    left: 9.75rem;
  }
}

.location-bg {
  background-color: $color3;
  @include device(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.location {
  padding: 3rem 1rem 3.5rem 1rem;
  color: $color1;
  @include device(tablet) {
    display: flex;
    gap: 90px;
    padding: 5.5rem 2.5rem 5rem 2.4375rem;
  }
  @include device(desktop) {
    padding: 6.5rem 0 7.875rem 0;
    gap: 13.75rem;
  }
}

.location__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  @include device(tablet) {
    font-size: map-get($fonts, "$large1");
  }
  @include device(desktop) {
    font-size: map-get($fonts, "$large3");
    max-width: 10ch;
  }
}

.location__street {
  color: $color4;
  font-size: map-get($fonts, "$medium1");
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  @include device(desktop) {
    font-size: map-get($fonts, "$medium2");
    margin-bottom: 1.5rem;
  }
}

.location__address,
.location__text {
 line-height: 1.55;
 font-size: map-get($fonts, "$small1");
 font-weight: 300;
 @include device(desktop) {
  font-size: map-get($fonts, "$small3");
 }
}

.location__address {
  margin-bottom: 1.25rem;
  @include device(desktop) {
    margin-bottom: 2rem;
  }
}

.location__text {
  @include device(tablet) {
    max-width: 24.875rem;
  }
  @include device(desktop) {
    max-width: 33.75rem;
  }
}



