.gallery {
  padding: 0 1rem;
  margin: 0 auto;  
  margin-bottom: 7.5rem;
  @include device(tablet) {
    display: grid;
    gap: 11px 0;
    grid-template-columns: 1fr 7.375rem 1fr;
    grid-auto-rows: auto;
    max-width: 43.125rem;
    padding: initial;
  }
  @include device(desktop) {
    max-width: 69.375rem;
    grid-template-columns: 1fr 11.875rem 1fr;
    gap: 23px 0;
    margin-bottom: 11.25rem;
  }
}

.gallery__img.img-1 {
  margin-bottom: 1.5625rem;
  @include device(tablet) {
    margin-bottom: initial;
    grid-column: 2 / 4;
    justify-self: end;
  }
}

.gallery__img.img-2 {
  margin-bottom: 1rem;
  @include device(tablet) {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    margin-bottom: initial;
  }
}

.gallery__img.img-3 {
  margin-bottom: 1rem;
  @include device(tablet) {
    justify-self: end;
    align-self: start;
    margin-bottom: initial;
  }
  @include device(desktop) {
    align-self: center;
  }
}

.gallery__content.light {
  margin-bottom: 2rem;
  @include device(tablet) {
    grid-row: 1;
    grid-column: 1 / 2;
    max-width: 13.9375rem;
    margin-bottom: initial;
    align-self: start;
    margin-top: 2.25rem;
  }
  @include device(desktop) {
    margin-top: initial;
    align-self: center;
    max-width: 21.875rem;
  }
}

.gallery__content.dark {
  background-color: $color3;
  padding: 3rem 1.5rem;
  color: $color1;
  @include device(tablet) {
    max-width: 17.5rem;
    padding: 5.3125rem 1.8125rem;
    justify-self: end;
    grid-row: 3 / 5;
    max-width: 27.8125rem;
  }
}

.gallery__title {
  font-size: map-get($fonts, "$large1");
  line-height: 0.9;
  font-weight: 900;
  text-transform: uppercase;
  @include device(desktop) {
    line-height: 1;
  }
}

.gallery__title.title-1 {
  margin-bottom: 1.3125rem;
  @include device(tablet) {
    margin-bottom: 1.5rem;
  }
  @include device(desktop) {
    font-size: map-get($fonts, "$large2");
    margin-bottom: 2rem;

  }
}

.gallery__title.title-2 {
  margin-bottom: 1.5rem;
}

.gallery__text {
  font-size: map-get($fonts, "$small1");
  line-height: 1.5;
  font-weight: 300;
  @include device(desktop) {
  font-size: map-get($fonts, "$small3");
  line-height: 1.45;
  }
}



